<h4>Add product</h4>
<%=form_for @product do |f|%>
<%=f.label :name%>
<%=f.text_field :name%>
<%=f.label :quantity%>
<%=f.text_field :quantity%>
<%=f.label :price%>
<%=f.text_field :price%>
<%=f.label :location%>
<%=f.text_field :location%>
<%=f.collection_select :location_id,Location.all,:id,:name%>
<%=f.collection_select :category_id,Category.all,:id,:name%>
<%=f.submit=%>
<%end%>
